.bookmarks-heading {
	text-align: center;
}
.bookmarks-background {
	width: 100%;
}
.row-two {
	float: left;
	margin-top: 5em;
	margin-right: 2em;
	margin-left: 1em;
}
.row-three {
	float: left;
	margin-right: 3em;
	margin-left: 1em;
}