.bookmarks-heading {
	text-align: center;
}
.bookmarks-background {
	width: 100%;
	display: flex;
	justify-content: space-around;
	// background-image: url('/assets/space.jpg');
}
.row-two {
	margin-top: 5em;
}