.bookmarks-heading {
	text-align: center;
}
.bookmarks-background {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.row-two {
	float: left;
	margin-top: 5em;
}
.row-three {
	float: left;
}