<h1 class="bookmarks-heading">Our Recommendations</h1>
<div class="bookmarks-background">
  <div class="row-three">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
  </div>
  <div class="row-two">
      <app-card [cardtype]="'xbig'"></app-card>
      <app-card [cardtype]="'xbig'"></app-card>
  </div>
  <div class="row-three">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
    <div class="row-two">
        <app-card [cardtype]="'xbig'"></app-card>
        <app-card [cardtype]="'xbig'"></app-card>
    </div>  
</div>