<h1 class="bookmarks-heading">Our Recommendations</h1>
<div class="bookmarks-background">
    <div>
        <app-card [cardDetails]="cardList[0]"></app-card>
        <app-card [cardDetails]="cardList[1]"></app-card>
        <app-card [cardDetails]="cardList[2]"></app-card>
    </div>
    <div class="row-two">
        <app-card [cardtype]="'xbig'" [cardDetails]="cardList[3]"></app-card>
        <app-card [cardtype]="'xbig'" [cardDetails]="cardList[4]"></app-card>
    </div>
    <div>
        <app-card [cardDetails]="cardList[5]"></app-card>
        <app-card [cardDetails]="cardList[6]"></app-card>
        <app-card [cardDetails]="cardList[7]"></app-card>
    </div>
    <div class="row-two">
        <app-card [cardtype]="'xbig'" [cardDetails]="cardList[8]"></app-card>
        <app-card [cardtype]="'xbig'" [cardDetails]="cardList[9]"></app-card>
    </div>
</div>