#form-matter {
  width: 400px;
  height: 383px;
  border-radius: 10px;
  padding: 2%;
  z-index: 10;
  position: relative;
  .input-holder {
    width: 350px;
    border-bottom: 1px solid #CCC;
    margin-top: 10px;
  }
  input {
    border: 0;
    height: 40px;
    outline: none;
    width: 87%;
    padding-left: 15px;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
    background: none;
    color: #FFF;
  }
  input:focus {
    outline: 0;
    border: 0;
    box-shadow: 0em 8px 4px -4px orange;
  }
  .input-holder:focus {
    box-shadow: 0.1em 2px 7px orange;
  }
  .right-side {
    float: right;
    margin-top: 13px;
    color: #FFF;
  }
  .left-side {
    float: left;
    margin-top: 13px;
    color: #FFF;
  }
}
.form-box {
  width: 400px;
  height: 383px;
  position: absolute;
  right: 1em;
  bottom: 3.5em;
}
.tranBox {
  position: absolute;
  background: black;
  opacity: 0.8;
  width: 400px;
  height: 433px;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.date-seperator {
  display: flex;
  justify-content: space-between;
}
.button2 {
  //background-color: white; 
  //color: black; 
  //border: 2px solid #008CBA;
  opacity: 0.6;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
  opacity: 1;
}
.button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 12px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 9px;
  margin-left: 9px;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  cursor: pointer;
  width: 350px;
  outline: none;
  border-radius: 0.313em;
}
