<div *ngIf="showSnackBar" id="snackbar">Your request has been submitted successfully</div>
<div class="form-box">
  <div class="tranBox">
  </div>
  <div id="form-matter">
    <div class="input-holder">
      <i class="{{field1.icon}} {{field1.iconSide}}"></i>
      <input type={{field1.type}} value={{source}} placeholder={{field1.name}} ngx-google-places-autocomplete/>
    </div>
    <div class="input-holder">
      <i class="{{field2.icon}} {{field2.iconSide}}"></i>
      <input type={{field2.type}} value={{destination}} placeholder={{field2.name}} ngx-google-places-autocomplete/>
    </div>
    <div class="input-holder">
      <i class="{{field3.icon}} {{field3.iconSide}}"></i>
      <input type={{field3.type}} placeholder="{{field3.name}}" [(ngModel)]="email" />
    </div>
    <div class="input-holder">
      <i class="{{field4.icon}} {{field4.iconSide}}"></i>
      <div class="date-seperator">
        <input type=date placeholder={{field4.name}} value={{startDate}}/>
        <input type=date placeholder={{field4.name}} value={{endDate}}/>
      </div>
    </div>
    <div class="input-holder">
      <i class="{{field5.icon}} {{field5.iconSide}}"></i>
      <input type={{field5.type}} placeholder="Adult" [(ngModel)]="noOfAdults"/>
      <input type={{field5.type}} placeholder="Children" [(ngModel)]="noOfChildren"/>
    </div>
    <div class="material-submit-button">
      <button class="button button2" (click)="submitInterest()">Submit</button>
    </div>
  </div>
</div>
