<div style="position:relative">
	<div class="tranBox">
</div>
<div id="form-matter">
<div class="input-holder">
<i class="{{field1.icon}} {{field1.iconSide}}"></i>
<input type={{field1.type}} placeholder={{field1.name}}/>
</div>
<div class="input-holder">
<i class="{{field2.icon}} {{field2.iconSide}}"></i>
<input type={{field2.type}} placeholder={{field2.name}}/>
</div>
<div class="input-holder">
<i class="{{field3.icon}} {{field3.iconSide}}"></i>
<input type={{field3.type}} placeholder="{{field3.name}}"/>
</div>
<div class="input-holder">
<i class="{{field4.icon}} {{field4.iconSide}}"></i>
<input type={{field4.type}} placeholder={{field4.name}}/>
</div>
<div class="input-holder">
<i class="{{field5.icon}} {{field5.iconSide}}"></i>
<input type={{field5.type}} placeholder={{field5.name}}/>
</div>
<div class="input-holder {{field6.iconSide}}">
<i class="{{field6.icon}}"></i>
<input type={{field6.type}} placeholder={{field6.name}}/>
</div>
</div>

</div>