.background-overlay {
  width: 100%;
  height: 100%;
  border: 660px solid grey;
}

@media only screen and (max-width: 1620px) {
  /deep/ .carousel-item {
    max-height: 725px;
  }
}

@media only screen and (min-width: 1621px) {
  /deep/ .carousel-item {
    max-height: 1321px;
  }
}

/deep/ .carousel-control-prev {
  bottom: 15em;
  width: 10%;
  cursor: pointer;
}

/deep/ .carousel-control-next {
  bottom: 15em;
  width: 10%;
  cursor: pointer;
}
.image-setter {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: 100% 100%;
}