.hotel_card_image {
	width: 70px;
	height:70px;
	float:left;
}

.cardHotels {
	box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.25);
	padding: 10px;
	background-color: #f3f3f3;	
	margin: 10px 20px;
	opacity: 0.9;
    color: black;
}

.hotel_card_title {
	font-size: 2em;
}

.card_price {
	float: right;
}
.hotelLogo {
	width: 12%;
	display: inline-block;
	position: relative;
	bottom: 100px;
}
.hotelDetails {
	width: 60%;
	display: inline-block;
	margin-left: 20px;
	background: #dabba4;
}
.fare {
    width: 10%;
    display: inline-block;
    position: relative;
    bottom: 50px;
}
.fareHolder {
    width : 130px;
    height: 60px;
    margin-left: 5px;
    border-radius: 10px;
    background: green;
    color: #ffffff;
    padding: 15px 11px;
}