<!-- Card -->

	<div *ngFor="let result of hotelDetails.results" class="cardHotels">
		<div class="hotelLogo"><img class="card_title" src={{result.images[0].url}}/></div>
		<div class="hotelDetails">
				<div class="hotel_card_title">{{ result.property_name }}</div>
				<div class="card_title">{{ result.address.line1 }}, {{ result.address.city }}, {{ result.address.country }} </div>
				<span class="card_title"*ngFor="let contact of result.contacts">
						<span>{{ contact.type }} : {{ contact.detail }}</span>
						<br/>
					</span>
					<div>
						<b>Amenities: </b>
						<span class="card_title" *ngFor="let amenity of hotelDetails.results[0].amenities" >
						  <span>{{ amenity.description }},</span>						 
					</span>
					</div>
		</div>
	    
	    <div class="fare">
		    <div class="fareHolder">{{ hotelDetails.results[0].total_price.amount }} {{ result.total_price.currency }}</div>
		    
		</div>
	    
	    
	    
	</div>

