.airlineLogo {
    height: 5em;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20%;
    background-position: center;
    position: relative;
    bottom: 14px;
}
.reco {    
    margin: 10px 20px;
    background: white;
    opacity: 0.8;
    padding: 5px 10px;
}
.listClass {
    width: 70%;
    display: inline-block;
}
.timeSection {
    width: 45%;
    display: inline-block;
}
.terminalSection {
    width: 55%;
    display: inline-block;
}
.flightSection {
    width: 20%;
    display: inline-block;
}
.duration {
    width: 10%;
    display: inline-block;
    position: relative;
    bottom: 2px;
}
.inbound {
    width: 90%;
}
.outbound {
    width: 90%;
}
.boundInfo {
    width: 80%;
    display: inline-block;
}
.fare {
    width: 10%;
    display: inline-block;
    position: relative;
    bottom: 50px;
}
.fareHolder {
    width : 130px;
    height: 60px;
    margin-left: 5px;
    border-radius: 10px;
    background: green;
    color: #ffffff;
    padding: 15px 11px;
}
.thinBorder {
    border : 1px solid #CCC;
    margin: 0;
}