.logo-layout {
  width: 100%;
  height: 80px;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('https://www.mckinsey.com/~/media/McKinsey/Industries/Retail/Our%20Insights/Digitization%20The%20next%20stop%20for%20the%20apparel%20sourcing%20caravan/Digitization-The-next-stop-apparel-sourcing%20_1536x1536_200.ashx');
  background-size: contain;
}

.large-layout-glass {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 80px;
  left: 30%;

  .pane {
    opacity: 0.5;
    width:100%;
    height:100%;
    display:inline-block;
    border-radius: 10px;
    margin: 5px;
  }
}
.pane1 {
      background: rgb(0,94,184);
    }
    .pane2 {
      background: rgb(0,169,224);
    }
    .pane3 {
      background: rgb(206,0,88);
    }
    .pane4 {
      background: rgb(155,202,306);
    }

.large-layout-mini-glass {
  width: 28%;
  height: 90%;
  position: absolute;
  top: 80px;
  left: 20px;
  opacity: 0.5;


  .pane {
    opacity: 0.5;
    width:100%;
    height:100%;
    border-radius: 10px;
    display:inline-block;
    margin: 5px;
  }
}
.large-layout-mini {
  width: 28%;
  height: 90%;
  position: absolute;
  top: 80px;
  left: 20px;
  color: #FFF;
}
.filterPanel {
	text-align:center;
	color: #FFF;
	.filter {
		background: #000;
		width: 80px;
		height: 80px;
		opacity: 0.5;
		margin: 10px;
		border-radius: 5px;
		display:inline-block;
		padding: 15px;
	}

}
input {
    border: 0;
    height: 40px;
    outline: none;
    width: 90%;
    padding-left: 15px;
    background: none;
    color: #FFF;
  }

  .input-holder {
    width: 90%;
    margin: 40px 15px;
    background: #000;
    opacity: 0.8;
    border-radius: 5px;
  }
