<div class="main">
  <div class="logo-layout">
    <span>logo space</span>
  </div>
  <div class="large-layout-mini-glass">
  	<div class="pane pane3"></div>
  </div>
  <div class="large-layout-mini">
  	<div class="filterPanel">
  	<div class="filter">
		<i class="fa fa-plane fa-3x"></i>
	</div>
	<div class="filter">
		<i class="fa fa-train fa-3x"></i>
	</div>
	<div class="filter">
		<i class="fa fa-hotel fa-3x"></i>
	</div>
	<div class="filter">
		<i class="fa fa-car fa-3x"></i>
	</div>
	</div>
	<div class="input-holder">
			<input type="text" placehoder="Search"/>
			<i class="fa fa-search"></i>
	</div>
  </div>
  <div class="large-layout-glass">
    <div class="pane pane1"></div>
  </div>
 </div>
