<div class="main">
  <div class="logo-layout">
    <span>logo space</span>
  </div>
  <div class="large-layout-mini-glass">
  	<div class="pane pane3"></div>
  </div>
  <div class="large-layout-mini">
  	<div class="filterPanel">
  	<div class="filter">
		<i class="fa fa-plane fa-3x"></i>
	</div>
	<div class="filter">
		<i class="fa fa-train fa-3x"></i>
	</div>
	<div class="filter">
		<i class="fa fa-hotel fa-3x"></i>
	</div>
	<div class="filter">
		<i class="fa fa-car fa-3x"></i>
	</div>
	</div>
	<div class="input-holder">
			<input type="text" placehoder="Search"/>
			<i class="fa fa-search"></i>
	</div>
  </div>
  <div class="large-layout-glass">
    <div class="pane pane1"></div>
	</div>
	<div style="height: 780px; overflow: scroll;">
			<ul class="heading">
					<li><a href="#home">Source</a></li>
					<li><a href="#news">Destination</a></li>
					<li><a href="#news">From Date</a></li>
					<li><a href="#news">To Date</a></li>
					<li><a href="#news">Event</a></li>
					<li><a href="#news">Adults</a></li>
					<li><a href="#news">Children</a></li>
			</ul>
	<ul *ngFor="let interest of interestData" class="dataInterests">
			<li><a>{{interest.source.name}}</a></li>
			<li><a>{{interest.destination.city}}</a></li>
			<li><a>{{interest.fromDate}}</a></li>
			<li><a>{{interest.toDate}}</a></li>
			<li class="events"><a>{{interest.destination.name}}</a></li>
			<li *ngIf="interest.pax != null"><a>{{interest.pax.noOfAdults}}</a></li>
			<li *ngIf="interest.pax != null"><a>{{interest.pax.noOfChildren}}</a></li>
			<button class="button button2 attach" (click)="attachRecos(interest._id)">Attach</button>
		</ul>
	</div>
 </div>
