<div class="main">
  <div class="logo-layout">
    <span>logo space</span>
  </div>
  <div class="running-slideshow">
    <div class="mover-1"></div>
    <div class="mover-2"></div>
  </div>
  <div class="large-layout-glass" [@slideOutIn]="largeLayoutState">
    <div class="pane pane1"></div>
    <div class="pane pane2"></div>
    <div class="pane pane3"></div>
    <div class="pane pane4"></div>
  </div>
  <div class="large-layout" [@slideOutIn]="largeLayoutState">
    <app-dashboard></app-dashboard>
  </div>
  <div class="small-layout" [@slideInOut]="animationState">
    <span>small space</span>
  </div>
  <div class="collapsable-div" (click)="toggleElement()">
    <span class="text-vertical">Collapser</span>
  </div>

</div>
