<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div [@filterSlideOut]="filterState" class="absoluteTop">
	<div class="filterup">
		<div class="filterHolder">
		</div>
		<div class="filterPanel expanded">
			<div *ngFor="let filter of filters" class="filter" (click)="toggleFilter(filter.category)">
				<i [class]="filter.class"></i>
				<div style="display: flex; justify-content: space-around">
						<div class="filter-text">{{filter.category}}</div>
				</div>
			</div>
		</div>
		<div class="filterlabel" (click)="toggleFilterPanel()">
			Filters
		</div>
	</div>
</div>