<div [@filterSlideOut]="filterState" class="absoluteTop">
	<div class="filterup">
		<div class="filterHolder">
		</div>
		<div class="filterPanel expanded">
			<div class="filter">
				<i class="fa fa-envelope fa-3x"></i>
			</div>
			<div class="filter">
				<i class="fa fa-users fa-3x"></i>
			</div>
			<div class="filter">
				<i class="fa fa-shopping-cart fa-3x"></i>
			</div>
			<div class="filter">
				<i class="fa fa-briefcase fa-3x"></i>
			</div>
			<div class="filter">
				<i class="fa fa-briefcase fa-3x"></i>
			</div>
		</div>
		<div class="filterlabel" (click)="toggleFilter()">
			Filters
		</div>
	</div>
</div>